  <%# la page de présentation de chacune des courses réalisées %>
  <%# Afficher la carte du parcours - Automatiser en présentant la bonne page%>
  <div
    style="width: 100%; height: 300px; box-shadow: 0 4px 2px -2px gray;"
    data-controller="map"
    data-map-markers-value="<%= @markers %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
  <%# Automatiser le nom de la course  %>
  <div>
    <h3><%= @race.name%></h3>
  </div>

  <div class="white-card">

    <div>
      <%=image_tag("icons/bike.svg")%>
      <p style="margin-top: 3px"><strong><%= @race.distance %> km</strong></p>
    </div>
    <div>
      <%=image_tag("icons/denivele.svg")%>
      <p style="margin-top: 3px"><strong><%= @race.elevationgain %> m</strong></p>
    </div>
    <div>
      <%=image_tag("icons/clock.svg")%>
      <p style="margin-top: 3px"><strong><%= @race.time %> h</strong></p>
    </div>

  </div>


  <div class="white-card-companion">
    <div style="margin-left : 10px;" >
      <div>
        <h5><strong>Profil de la course</strong></h5>
      </div >
      <div>
      <%=image_tag("profil.png")%>
      </div>
        <%# Avoir le profil de chaque course dans les seed %>
    </div>
  </div>
