<div class = "map-live">
  <div style="width: 100%; height: 800px;"
    data-controller="mergemaps"
    data-mergemaps-racepoints-value="<%= @markers %>"
    data-mergemaps-waterpoints-value="<%= @water_markers.to_json %>"
    data-mergemaps-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">

  </div>

  <div class="menu-map-top">
    <div style ="margin-top: 7px;">
      <%=image_tag("icons/clock.svg")%>
    </div>
    <div class="barre-top-time" data-controller="play" data-action= "click->play#toggle" data-play-target="pause">
      <p><strong> yeahhh </strong></p>
      <p style ="color:#245611;margin-top: -3px;">Temps passé</p>
    </div>
    <div style ="margin-top: 7px;">
      <%=image_tag("icons/bike.svg")%>
    </div>
    <div>
      <p><strong>120 km</strong></p>
      <p style ="color:#245611; margin-top: -3px;">Parcouru</p>
    </div>
  </div>

  <div class="menu-map-bottom">
    <div class="menu-map-bottom-water">
            <%= link_to "" do %>
            <%= image_tag("icons/bottle.svg",  size: "40x40") %>
            <% end %>
      <p>Eau</p>
    </div>
    <div class="menu-map-bottom-direction">
            <%= link_to "" do %>
            <%= image_tag("icons/direction.svg",  size: "40x40") %>
      <% end%>
      <p>Localisation</p>
    </div>
    <div class="menu-map-bottom-play" data-controller="play" data-action= "click->play#toggle" >
          <%= image_tag("play.svg",  size: "40x40", data: {play_target: "icon"}) %>
          <%= image_tag("pause.svg",  size: "40x40", data: {play_target: "pause"}, class: "d-none") %>
      <p>Démarrer</p>
    </div>
  </div>

  <div class="menu-map-bottom-progression">
            <%= link_to race_progressions_path(@race) do %>
            <%= image_tag("icons/person-biking.svg",  size: "40x40") %>
            <% end %>
      <p>Progression</p>
  </div>
</div>
