<div class="container-index">

  <div class="profil">
    <div class="avatar"></div>
    <div class="salut"><p>Salut,<br><strong>Pierre</strong></p></div>
  </div>

  <div class="big-card">
    <% if current_user.races.last.status == "undone" %>
      <h3>Ma prochaine course</h3>
       <%= link_to race_path(id: current_user.races.last.id) do %>
        <div class="card-course">
            <div class="card-text">
              <p><%= current_user.races.last.name %></p>
              <p><em><%= current_user.races.last.date %></em></p>
            </div>
        </div>
        <% end %>
    <% else %>
      <div class="ajouter">
        <h3>Ajouter une course</h3>
          <%= link_to new_race_path do %>
            <div class="card-photo-vide">
              <i class="fas fa-plus-circle"></i>
            </div>
          <% end %>
      </div>
    <% end %>


<%# Carrousel des courses déjà réalisées %>
<h3>Mes précédentes courses</h3>

  <div class="wrapper">
    <nav class="lil-nav">
      <div class="gallery">


        <% @races.each do |race| %>
          <% if race.status == "done" %>
            <div class="card-carousel"><%= link_to race_path(race) do %>
              <div class="card-text">
                <p><%=race.name%></p>
                <p><em><%=race.city%>, <%=race.country%></em></p>
              </div>
              <% end %>
            </div>
            <% end %>
        <% end %>

      </div>
  </div>
