<div class="container-index">
  <%= link_to root_path do %>
  <div class="logo"></div>
  <% end %>

  <div class="profil">
    <%= link_to profil_path do %>
      <div class="avatar"></div>
      <% end %>
    <div class="salut"><p>Salut,<br><strong>Pierre</strong></p></div>
  </div>

  <div class="big-card">
      <% if @races.any? && @races.last.status == "undone" %>
      <%# ajout de .any? pour afficher la page même si pas de races %>
        <div class = "title"><h3>Ma prochaine course</h3></div>
        <%= link_to race_path(id: current_user.races.last.id) do %>
          <div class="big-card-carousel-image">
            <%= cl_image_tag current_user.races.last.photo.key, class:"big-image-carousel"%>
            <div class="big-card-text">
              <p><%= current_user.races.last.name %></p>
              <p><em><%= current_user.races.last.date.strftime("%d/%m/%Y")%></em></p>
            </div>
          </div>
        <% end %>
      <% else %>
        <div class="ajouter">
          <h3>Ajouter une course</h3>
          <%= link_to new_race_path do %>
            <div class="card-photo-vide">
              <i class="fas fa-plus-circle"></i>
            </div>
          <% end %>
        </div>
      <% end %>

<%# Carrousel des courses déjà réalisées %>
    <h3>Mes précédentes courses</h3>
    <div class="wrapper">
      <nav class="lil-nav">
      <div class="gallery">
        <% @races.each do |race| %>
          <% if race.status == "done" %>
            <%= link_to race_path(race) do %>
              <div class="card-carousel-image">
                <%= cl_image_tag race.photo.key, class:"image-carousel" %>
                <div class="card-text">
                  <p><%=race.name%></p>
                  <p><em><%=race.city%>, <%=race.country%></em></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
