<div class="fondconnexion">
  <div class="connexion">
    <%= image_tag("icons/logo.svg") %>
      <h2>Mot de passe oublié ?</h2>
  </div>



<%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email,
                required: true,
                autofocus: true,
                input_html: { autocomplete: "email" } %>
    <%= f.button :submit, "Valider", class: 'bouton'  %>
  </div>
<% end %>
<br>
<%= render "devise/shared/links" %>

</div>
