<%# Afficher la carte du parcours %>
<div class="wrapper-current-course">
  <div class="display_map">
    <div
      style="width: 100%; height: 25vh; box-shadow: 0 4px 2px -2px gray;"
      data-controller="map"
      data-map-markers-value="<%= @markers %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>

  <div>
    <h3><%= @race.name%></h3>
  </div>

  <div class="white-card">

    <div>
      <%=image_tag("icons/bike.svg")%>
      <p style="margin-top: 3px; font-size: 0.8rem"><strong>318 km</strong></p>
    </div>
    <div>
      <%=image_tag("icons/denivele.svg")%>
      <p style="margin-top: 3px; font-size: 0.8rem"><strong>1257 m</strong></p>
    </div>
    <div>
      <%=image_tag("icons/clock.svg")%>
      <p style="margin-top: 3px; font-size: 0.8rem"><strong>16 h</strong></p>
    </div>

  </div>


  <div class="white-card-companion">

      <h5><strong>Les conseils du companion</strong></h5>
      <br>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure deserunt ipsum illum, nobis, qui officiis aspernatur repudiandae rerum maxime dolor impedit quam repellendus eos hic doloremque. Consectetur, nobis necessitatibus.
      </p>
      <br>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corrupti iure deserunt ipsum illum, nobis, qui officiis aspernatur repudiandae rerum maxime dolor impedit quam repellendus eos hic doloremque. Consectetur, nobis necessitatibus.
      </p>
  </div>



  <%= link_to "Démarrer la navigation", race_waters_path(@race), class: "principal-btn" %> <%# # Modifier le lien pour arriver sur la page de navigation %>

 </div>
