<div class="container-feedback">
  <div class="test">
		<h3>Bienvenue</h3>
	</div>

  <div class="p-feedback">
    <p>Nous souhaitons vous offrir <b>la meilleure expérience possible.</b> C'est pourquoi nous vous encourageons à nous faire part de vos commentaires et de vos suggestions d’améliorations.</p>
    <p>Merci pour votre aide !</p>
    <p><b>Céline, Denis & Pierre.</b></p>
  </div>

  <div class="form-feedback">
    <%= form_with model: Feedback.new, url: feedback_path, method: :post do |form| %>

      <%= form.text_field :name, placeholder: 'Prénom & Nom' %>

      <%= form.email_field :email, placeholder: 'Adresse e-mail' %>

      <%= form.text_area :suggestion, placeholder: 'Commentaires' %>

      <%= form.submit 'Envoyer' %>
    <% end %>
  </div>
</div>
