  <%# Afficher le parcours %>
  <div class="map-live">
    <div style="width: 100%; height: 300px; box-shadow: 0 4px 2px -2px gray;"
      data-controller="map"
      data-map-markers-value="<%= @markers %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
      <div class="menu-map-bottom-navigation">
        <h5><%= link_to race_waters_path(@race) do %>
          <%= image_tag("icons/navigation.svg",  size: "40x40") %>
          <% end %></h5>
        <p>Navigation</p>
      </div>
    </div>
  </div>

  <div class="card-live-description">
    <%# Afficher le nom de la course %>
    <div class="race-name">
      <h3><%= @race.name%></h3>
    </div>

    <%# Avancer en temps et distance de l'utilisateur %>
  <div class="race-summary">
    <div>
      <%=image_tag("icons/bike.svg")%> <p style="margin-top: 3px; font-size: 0.8rem">
    </div>
    <div>
      <strong><%= @distances %> km </strong></p>
    </div>
    <div>
      <%=image_tag("icons/denivele.svg")%><p style="margin-top: 3px; font-size: 0.8rem">
    </div>
    <div>
      <strong><%= @gains %> m </strong></p>
    </div>
  </div>


    <%# Profil de la course %>
    <div class="white-card-companion">
      <div style="margin-left: 10px;" >
        <div>
          <h5><strong>Profil de la course</strong></h5>
        </div >
        <div>
          <%= area_chart @elevations.map.with_index{|idx, ele| [ele, idx]}, min: 0, xmin: 0, xmax: 6500, points: false, colors: ["#245611", "#666"], width: "auto", height: "25vh" %>
        </div>
      </div>
    </div>
  </div>
