<div class="fondconnexion">
  <div class="connexion">
    <%= image_tag("icons/logo.svg") %>
    <h2>Se connecter</h2>
  </div>

  <div class="form">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: :false }) do |f| %>
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        <%= f.input :password, label: 'Mot de passe',
                    required: false,
                    input_html: { autocomplete: "current-password" } %>
        <%= f.input :remember_me, label: 'Se souvenir de moi', as: :boolean if devise_mapping.rememberable? %>
        <%= f.button :submit, "Se connecter", class: 'bouton' %>
    <% end %>

    <div class="btn-google">
    <%# <%= image_tag("google.svg") %> 
    <%= button_to 'Se connecter avec Google', user_google_oauth2_omniauth_authorize_path, method: :post, :data => {turbo: "false"} %>
    <%# authentification google %>
    </div>

  <div class="inscrire">
    <%= render "devise/shared/links" %>
 </div>

</div>
